*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font: 400 1.5rem/1.5 Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
  margin: 0;
  padding: 0;
  min-height: 200vh;
  width: 100%;
  /*  min-width: 100vh; */
  background-color: #fff;
}
section {
  margin: 5% 0;
  background-color: #fff;
  width: 100%;
}
img {
  height: auto;
  width: 100%;
  display: block;
}
p {
  transform: translateY(-1.5rem);
  opacity: 0;
  transition: 0.8s 0.5s ease-in-out;
  -webkit-transition: 0.8s 0.5s ease-in-out;
  -moz-transition: 0.8s 0.5s ease-in-out;
  -ms-transition: 0.8s 0.5s ease-in-out;
  -o-transition: 0.8s 0.5s ease-in-out;
}
p.active {
  opacity: 1;
  transform: translateY(0);
}
.container {
  margin: 5%;
  background-color: #fff;
}

/* nav */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  font-size: 36px;
}

/* nav-links */
.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 40%;
  gap: 0.5em;
}
.nav-links li a {
  line-height: 2.5;
  font-weight: 900;
  text-decoration: none;
  position: relative;
  color: #1d3557;
  overflow: hidden;
}
.nav-links li a:hover,
.copyright a:hover {
  color: #e63946;
  transition: all 0.6s ease-in-out;
}
.nav-links li a::after,
.copyright a::after {
  content: '';
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #e63946;
  height: 4px;
  transition: all 0.6s ease-in-out;
}
.nav-links li a:hover:after,
.nav-links li a:focus:after,
.nav-links li a:active:after,
.copyright a:hover:after,
.copyright a:focus:after,
.copyright a:active:after {
  left: 0;
  right: auto;
  width: 100%;
  z-index: 0;
}

/* search */
.search {
  float: right;
  padding: 30px;
  width: 25%;
}
.search input {
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  background-color: #f1faee;
}
.search input::placeholder {
  color: #1d3557;
  outline: none;
}
.search input:focus {
  box-shadow: 0 0 15px 5px #457b9d;
  border: 2px solid #1d3557;
  outline: none;
}

/*  hamburger */
#nav-button {
  background-color: transparent;
  border: none;
}
.nav-ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
}
.nav-ham.active {
  transform: rotate(45deg);
}
.nav-ham-line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.nav-ham .top {
  stroke-dasharray: 40 139;
}
.nav-ham .bottom {
  stroke-dasharray: 40 180;
}
.nav-ham.active .top {
  stroke-dashoffset: -98px;
}
.nav-ham.active .bottom {
  stroke-dashoffset: -138px;
}

/* nav media */
@media (max-width: 900px) {
  .nav-logo {
    padding: 2% 0;
  }
  .nav-ham {
    display: block;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links {
    flex-direction: column;
    display: none;
    font-size: 1.2rem;
  }
  .animateLinks {
    animation: bounceInRight 2s both;
    -webkit-animation: bounceInRight 2s both;
  }
  .search {
    padding: 0;
    width: 50%;
    display: none;
  }
  .responsive {
    display: block;
  }
  .search input {
    width: 70%;
  }
  .search input::placeholder {
    font-size: 1.2em;
  }
}
@-webkit-keyframes bounceInRight {
  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

/* hero */
.hero {
  text-align: center;
  white-space: pre-line;
  opacity: 0;
  transition: 0.8s 0.5s ease-in-out;
  -webkit-transition: 0.8s 0.5s ease-in-out;
  -moz-transition: 0.8s 0.5s ease-in-out;
  -ms-transition: 0.8s 0.5s ease-in-out;
  -o-transition: 0.8s 0.5s ease-in-out;
}
.hero-title {
  font: 900 4rem Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 0 10px 25px rgb(0 0 0 / 30%);
}
.hero span {
  color: #457b9d;
}
.hero p {
  font: 1.5rem Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.hero.active {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 600px) {
  .hero-title {
    font: 900 2.5rem/0.8 Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
}

/* hero button */
.hero-btn {
  color: #e63946;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.hero-btn {
  letter-spacing: 5px;
}
.hero-btn:hover,
.hero-btn:active {
  letter-spacing: 15px;
  transition: all 500ms ease-in-out;
  color: #e63946;
}
.hero-btn:after,
.hero-btn:before {
  backface-visibility: hidden;
  border: 1px solid #e63946;
  bottom: 0px;
  content: ' ';
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 500ms ease-in-out;
  width: 0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.hero-btn:hover:after,
.hero-btn:hover:before {
  backface-visibility: hidden;
  border-color: #e63946;
  width: 25%;
}
.hero-btn:hover:before {
  bottom: auto;
  top: 0;
  width: 22%;
}

/* about */
#about {
  padding-top: 5rem;
  padding-bottom: 5rem;
  border: 0;
}

/* header */
.about-header {
  position: relative;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  line-height: 1.35;
  color: #fff;
  opacity: 0;
}
.about-header.active {
  animation: fadeOn 0.5s 0.7s ease-in-out forwards;
  -webkit-animation: fadeOn 0.5s 0.7s ease-in-out forwards;
}
.about-header::before {
  top: 0;
  left: 5%;
  height: 60%;
  width: calc(100% - 2rem);
  background-color: #a8dadc;
}
.about-header.active::before {
  -webkit-animation: scaleRight 0.5s 1.8s ease-in-out forwards;
  animation: scaleRight 0.5s 1.8s ease-in-out forwards;
}
.about-header::before,
.about-header::after {
  content: '';
  z-index: -1;
  position: absolute;
  transform-origin: left center;
  transform: scaleX(0);
}
.about-header::after {
  top: 10%;
  left: -10%;
  height: 85%;
  width: 100%;
  background-color: #457b9d;
}
.about-header.active::after {
  -webkit-animation: scaleRight 0.5s 1.5s ease-in-out forwards;
  animation: scaleRight 0.5s 1.5s ease-in-out forwards;
}

@media screen and (max-width: 1024px) {
  #about .about-header::after {
    margin: 1% 5%;
  }
  #about .about-header::before {
    width: 100%;
  }
  .about-img-block {
    width: 100%;
  }
}

@keyframes fadeOn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scaleRight {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.col-6 {
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* about text block */
.about-text-block {
  justify-content: center;
  flex-direction: column;
  display: flex;
  order: 1;
}
.about-text-block p {
  white-space: pre-line;
}

/* about image block */
.image-left {
  margin-top: 3rem;
}
.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.about-image-block {
  order: 1;
  margin-bottom: 0;
}

/* image animation */
.block-animate-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 150%;
}
.block-animate-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #e63946;
  mix-blend-mode: multiply;
  /* opacity: 0.6; */
  transform: scaleX(0);
  transform-origin: 0px center;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
}
.about-block-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.55s 0.3s ease-out;
  vertical-align: middle;
}
.about-block.active .block-animate-image::after {
  animation: scaleOnOffLeft 1s ease-in-out forwards;
  -webkit-animation: scaleOnOffLeft 1s ease-in-out forwards;
}
.about-block.active .image-right::after {
  animation-delay: 0.4s;
}
.about-block.active .image-right.about-block-image {
  transition-delay: 0.7s;
}
.about-block.active .about-block-image {
  transform: scale(1) translateX(0);
  -webkit-transform: scale(1) translateX(0);
  -moz-transform: scale(1) translateX(0);
  -ms-transform: scale(1) translateX(0);
  -o-transform: scale(1) translateX(0);
}
.block-animate-image .about-block-image {
  transform: scale(1.2) translateX(100%);
}

@keyframes scaleOnOffLeft {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
    transform-origin: 0 center;
  }
  50.1% {
    transform-origin: 100% center;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% center;
  }
}

@media (max-width: 768px) {
  .about-text-block {
    margin: 0 5%;
  }
  .about-image-block {
    order: 2;
  }
  .about-image-block,
  .col-6 {
    margin-bottom: 1rem;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .about-image-block p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  .about-text-block,
  .about-image-block {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* quote block */
#quote .about-header {
  margin: 1% 5%;
}
#quote .about-header::before {
  width: 100%;
}
#quote .about-header::after {
  left: -5%;
  height: 90%;
}
/* .quote, */
.quote-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
  cursor: pointer;
}
.quote-block .quote-text {
  font-size: 1.5em;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  transform: translateY(-1.5rem);
  opacity: 0;
  transition: 0.8s 0.5s ease-in-out;
  color: #1d3557;
}
.quote-text.active {
  opacity: 1;
  transform: translateY(0);
}
.quote-block .quote-text::after {
  content: '';
  position: absolute;
}
.quote-author {
  font-size: 1.2em;
  line-height: 2;
  letter-spacing: 0.04em;
}

/* quote animation */
.block-quote-animate {
  opacity: 0.5;
  transition: opacity 0.3s cubic-bezier(0.5, 0, 0.5, 1);
}
.block-quote-animate .quote-text::after {
  opacity: 0;
  top: 100%;
  left: 0;
  height: 10px;
  width: 100%;
  background: #1d3557;
  z-index: -1;
  transform-origin: 0% 50%;
  transform: scaleX(0);
  transition: transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}
.block-quote-animate .quote-author {
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1), transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}
.block-quote-animate:hover {
  opacity: 1;
}
.block-quote-animate:hover .quote-text::after {
  opacity: 0.1;
  transform: scaleX(1);
}
.block-quote-animate:hover .quote-author {
  transform: translateX(0%);
  opacity: 1;
  color: #1d3557;
}

/* podcasts */
#podcasts .about-header {
  margin: 1% 5%;
}
#podcasts .about-header::before {
  width: 100%;
}
#podcasts .about-header::after {
  left: -5%;
  height: 90%;
}
#podcasts.active {
  animation: scaleRight 1s ease-in-out forwards;
  -webkit-animation: scaleRight 1s ease-in-out forwards;
}
.row-podcasts {
  display: flex;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* cards */
.card {
  padding: 0.7rem 0.7rem;
  width: 28%;
  flex: 1 0 310px;
  transform: translateY(-1.5rem);
  opacity: 0;
  transition: 0.8s 0.5s ease-in-out;
  -webkit-transition: 0.8s 0.5s ease-in-out;
  -moz-transition: 0.8s 0.5s ease-in-out;
  -ms-transition: 0.8s 0.5s ease-in-out;
  -o-transition: 0.8s 0.5s ease-in-out;
  -webkit-transform: translateY(-1.5rem);
  -moz-transform: translateY(-1.5rem);
  -ms-transform: translateY(-1.5rem);
  -o-transform: translateY(-1.5rem);
}
.card .card-link-icons {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card.active {
  opacity: 1;
  transform: translateY(0);
}
.card .card-link-icons li {
  display: inline-block;
}
.card .card-link-icons li a {
  color: white;
}
.card .card-link-icons span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 15px;
  font-weight: 700;
  transform: translate(-50%, 0);
}
.card .card-block {
  background-color: white;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .card-block:hover .card-content {
  transform: translateY(0);
}
.card .card-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.009) 11.7%,
    hsla(0, 0%, 0%, 0.034) 22.1%,
    hsla(0, 0%, 0%, 0.072) 31.2%,
    hsla(0, 0%, 0%, 0.123) 39.4%,
    hsla(0, 0%, 0%, 0.182) 46.6%,
    hsla(0, 0%, 0%, 0.249) 53.1%,
    hsla(0, 0%, 0%, 0.32) 58.9%,
    hsla(0, 0%, 0%, 0.394) 64.3%,
    hsla(0, 0%, 0%, 0.468) 69.3%,
    hsla(0, 0%, 0%, 0.54) 74.1%,
    hsla(0, 0%, 0%, 0.607) 78.8%,
    hsla(0, 0%, 0%, 0.668) 83.6%,
    hsla(0, 0%, 0%, 0.721) 88.7%,
    hsla(0, 0%, 0%, 0.762) 94.1%,
    hsla(0, 0%, 0%, 0.79) 100%
  );
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s;
}
.card .card-content .hidden-content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.card .author {
  font-size: 12px;
}
.card .card-title {
  margin-top: 10px;
}
.card .text {
  height: 70px;
  margin: 0;
}
/* card image */
#card1 .card-block {
  background: url(https://images.unsplash.com/photo-1512239951320-ee158ee09e4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80) center / cover no-repeat;
}

#card2 .card-block {
  background: url(https://images.unsplash.com/photo-1610558495616-9ce40f904dde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80) center / cover no-repeat;
}

#card3 .card-block {
  background: url(https://images.unsplash.com/photo-1558636404-9742ab53a5f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80) center / cover no-repeat;
}
#card4 .card-block {
  background: url(https://images.unsplash.com/photo-1508107506371-193d6e71444c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80) center / cover no-repeat;
}

.card .card-block:hover .card-link-icons span {
  transform: translate(-50%, -10px);
  opacity: 1;
}
.card .card-block .card-link {
  display: block;
  z-index: 1;
}
.card .card-block .card-link::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: ' ';
}
.card .card-header {
  color: white;
  padding: 1em;
}
.card .hidden-content .date {
  float: right;
  font-size: 12px;
}
.card .hidden-content .time {
  float: left;
  font-size: 12px;
}
.card .card-link-icons {
  float: left;
}
.card .card-link-icons li {
  margin: 0 5px;
  position: relative;
}
.card .card-link-icons span {
  transition: all 0.3s;
  opacity: 0;
}
.card .card-content {
  color: white;
  transform: translateY(calc(70px + 4em));
  padding: 1% 0;
}
.card .card-title {
  color: white;
  float: right;
  text-shadow: rgb(0 0 0 / 50%) 0 10px 10px;
}
.card-time-block {
  float: right;
}
.card-clock {
  width: 20px;
  vertical-align: middle;
  fill: #fff;
}
.card-time {
  font-size: 20px;
  color: #fff;
  vertical-align: middle;
  margin-left: 5px;
}

/* author block */
.authors {
  transform: translateY(-1.5rem);
  opacity: 0;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.authors.active {
  opacity: 1;
  transform: translateY(0);
}
.authors-container {
  padding: 5%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #1d3557;
  color: #fff;
  text-align: center;
}
.authors-container h3 {
  font-size: 2rem;
}
.authors-block {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.author-content {
  flex: 1 0 310px;
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  opacity: 0;
  transition: 0.7s 0.7s ease-in-out;
  -webkit-transition: 0.7s 0.7s ease-in-out;
  -moz-transition: 0.7s 0.7s ease-in-out;
  -ms-transition: 0.7s 0.7s ease-in-out;
  -o-transition: 0.7s 0.7s ease-in-out;
}
.author-content.active {
  opacity: 1;
  transform: translateY(0);
}
.author-image {
  position: relative;
  display: inline-block;
  width: 100px;
  height: auto;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}
.author-img {
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media screen and (min-width: 1024px) {
  .author-content {
    max-width: calc(25% - 1rem);
  }
}

/* Footer */
.footer {
  padding: 1em;
  margin: 0 5%;
  background-color: #f1faee;
}
.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.footer-link {
  font-size: 0.85rem;
  font-weight: 500;
  color: #1d3557;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.footer-link:hover {
  color: #e63946;
  cursor: pointer;
}
.footer-nav ul {
  list-style: none;
}
.footer-title {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #1d3557;
  letter-spacing: 1px;
}
.copyright {
  flex-basis: 100%;
  text-align: center;
  color: #1d3557;
  border-top: 1px solid #1d3557;
}
.copyright a {
  text-decoration: none;
  position: relative;
  color: #457b9d;
  overflow: hidden;
}

@media (max-width: 500px) {
  .footer-nav {
    flex-direction: column;
  }
  .footer-nav div {
    padding-bottom: 5%;
  }
}
